body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 120%;
    line-height: 1.5;
}

h1,
h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

.citacao {
    background-color: #D9E5E3;
    border: 10px solid #C2CCCA;
    padding: 20px;
    margin: 20px 40px;
    width: 250px;
    box-sizing: border-box;
}

.topo {
    text-transform: uppercase;
    font-size: 60px;;
    text-align: center;
    background-color: #851944;
    color: #FFF;
    padding: 25px;
    border-bottom: 10px solid #000;
}

main h2 {
    font-size: 30px;
}

main a {
    color: #851944;
}

p {
    text-align: justify;
    margin: 20px 0;
}

aside {
    text-align: center;
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 20px;
}

aside a {
    color: inherit;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

aside h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

footer {


    padding: 20px;
}

div {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
}

article {
    padding-bottom: 30px;
    border: 1px solid #ccc;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    margin-bottom: 20px;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.rodape {
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
}

.icone-rede-social {
    display: inline-block;
}

.leiamais {
    font-size: 25px;
    padding: 10px;
    display: block;
    text-align: center;
    background-color: #E6E7E8;
}